<nav class="navbar navbar-expand-lg bg-body sticky-top shadow-sm">
    <div class="container-xxl">
        <a class="navbar-brand" href="./">
            <img src="https://assets.geomtoy.com/icons/logo.svg" width="50" height="50" alt="Geomtoy logo" class="d-inline-block align-middle" />
            <span class="d-none d-sm-inline-block fw-bold">Geomtoy examples</span>
        </a>
        <% if (showToggler) { %>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasSidebar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <% } %>
    </div>
</nav>
